<div class="container-fluid menu">
  <div class="row">

    <div class="col  d-flex justify-content-center">
      <a class="nav_button d-flex justify-content-around" routerLink="/create">
        <img ngSrc="/assets/img/Plus.png" class="image-fit"  height="90" width="90" alt="plus">
      </a>
    </div>

    <div class="col  d-flex justify-content-center">
      <a class="nav_button d-flex justify-content-around" routerLink="/">
        <img ngSrc="/assets/img/List.png" class="image-fit"  height="90" width="90" alt="plus">
      </a>
    </div>

    <div class="col  d-flex justify-content-center">
      <a class="nav_button d-flex justify-content-around" >
        <img ngSrc="/assets/img/Delete.png" class="image-fit"  height="90" width="90" alt="plus">
      </a>
    </div>
  </div>
</div>
